* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
  width: 100%;
}

header {
  grid-row-start: 2;
  display: block;
  background-color: green;
}

.header-nav {
  height: 20%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.post-list {
  grid-row-start: 3;
}
